#comms {
    color: #1be333
}
#events {
    color: #3feafc
}

#people {
    color: #e31732
}

#analytics {
    color: #808aff
}

#settings {
    color: #f27507
}

#finance {
    color: #fff536
}

#media {
    color: #ff05e2
}

#website {
    color: #ffffff
}