#comms {
	color: #55ff33
}
#events {
	color: #00ffff
}
#people {
	color: #ff3399
}
#analytics {
	color: #ffff00
}
#settings {
	color: red
}
#finance {
	color: orange
}
#media {
	color: #cc00cc
}
#website {
	color: white
}

