{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rest_framework %}

{% block content %}
<br>
<div class="row justify-content-center">
    <div class="col-auto">
        <form method="POST" class="form-group" action="{% url 'giftaid-list' %}">{% csrf_token %}
            <div class="form-group">
                {{form|crispy}}
                <button type="submit" class="btn btn-success">Create New Giftaid record</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}