{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rest_framework %}

{% block content %}
<br>
<div class="row justify-content-center">
    <div class="col-auto">
        <div class="form-group">
            <form method="POST" class="form-group">
                {% csrf_token %}
            <h2> Are you sure you want to delete {{item.stock_number}}?</h2>
                <br>
                <button type="submit" class="save btn btn-danger" name="action" value="delete" formaction="{% url 'merchandise-delete' slug=slug %}">Delete</button>
                <button type="submit" class="save btn btn-info" name="action" value="Back" formmethod="get" formaction="{% url 'merchandise-list' %}">Back</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}