{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rest_framework %}

{% block content %}
<br>
<div class="row justify-content-center">
    <div class="col-auto">
        <div class="form-group">
            <form method="POST" class="form-group">
                {% csrf_token %}
            {{form|crispy}}
                <button type="submit" class="save btn btn-success" name="action" value="save" formmethod="post" formaction="{% url 'group-detail' pk=pk %}">Save group</button>
                <button type="submit" class="save btn btn-danger" name="action" value="get_delete" formmethod="get" formaction="{% url 'groups-deleteconfirm' pk=pk %}">Delete group</button>
                <button type="submit" class="save btn btn-info" name="action" value="Back" formmethod="get" formaction="{% url 'group-list' %}">Back</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}