{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rest_framework %}
{% block content %}



<div class="row justify-content-center">
    <div class="col-auto">
        <br>
        <h1> If you are a registered user, you are not authorised to view this page </h1>
        <h1>If you are not a registered user, you can register <a href="/accounts/sign_up/" action="{% url 'sign-up' %}">here</a></h1>
        <h1> Alternatively, login by clicking the button below </h1>
        <br>
        <a href="/login/" class="btn btn-primary">Login</a>
    </div>
</div>

{% endblock %}