{% extends "base.html" %}

{% block content %}
<br>
<div class="row justify-content-left">
    <div class="col-auto"></div>
    <div class="col-auto">
        <a href="/people/roles/create/" class="btn btn-primary" action="{% url 'get-roleform' %}">Create Role</a>
        <br>
        <br>
        {% csrf_token %}
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Role name</th>
                    <th>Role responsibility</th>
                    <th>Responsible for roles</th>
                </tr>
            </thead>
            <tbody>
                {% for row in queryset %}
                <tr>
                    <td>
                        <a href="/people/roles/edit/{{row.slug}}">{{row.role_name}}</a>
                    </td>
                    <td>
                        {{row.role_responsibility}}
                    </td>
                    <td>
                        {{row.responsible_4_roles}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}