{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rest_framework %}

{% block content %}
<br>
<div class="row justify-content-center">
    <div class="col-auto">
        <form method="POST" class="form-group" action="{% url 'event-list' %}">{% csrf_token %}
            <div class="form-group">
                <form method="POST" class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.event_owner|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.start|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.end|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.invites|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.recurring|as_crispy_field }}
                            {{ form.description|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.website_publish|as_crispy_field }}
                            {{ form.recurrence_interval|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="save btn btn-success" name="action" value="save" formmethod="post" formaction="{% url 'event-detail' slug=slug %}">Save</button>
                <button type="submit" class="save btn btn-danger" name="action" value="get_delete" formmethod="get" formaction="{% url 'event-deleteconf' slug=slug %}">Delete</button>
                <button type="submit" class="save btn btn-info" name="action" value="Back" formmethod="get" formaction="{% url 'event-list' %}">Back</button>
                </form>
            </div>
        </form>
    </div>
</div>

{% endblock %}